/* Main */

html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 150%;
}
h1 {
    font-size: 2.75em;
}
h2 {
    font-size: 2.50em;
}
h3 {
    font-size: 2.25em;
}
h4 {
    font-size: 2.00em;
}
h5 {
    font-size: 1.75em;
}
h6 {
    font-size: 1.50em;
}
p {
    font-size: 1.35em;
    font-weight: lighter;
}

/* AJAX Action Pre-Loader */

.loader {
    display: fixed;
    background: #000000;
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    opacity: 0;
    /*zoom: 0.3;
    -moz-transform: scale(0.3);*/
}
.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap {
    animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) {
    animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
    animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
    animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
    animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
    animation-delay: -250ms;
}
.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}
@keyframes spin {
    0%, 15% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Navbar */

.navbar-right {
    padding-right: 20px;
    z-index: 99999;
}

/* Create Gift Button */

.create-gift-button {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 100;
}
.btn-circle-lg {
    width: 79px;
    height: 79px;
    text-align: center;
    padding: 13px 0;
    font-size: 30px;
    line-height: 2.00;
    border-radius: 70px;
}

/* Scroll Container */

.infinite-scroll-container {
    padding-top: 100px;
}

/* Thumbnail */

.item-header {
    font-size: 1.5em;
}
.item-author {
    font-size: 1.1em;
    font-weight: 50;
    font-style: italic;
}
.item-caption {
    font-size: 1.0em;
    text-align: justify;
    text-justify: inter-word;
    padding: 0 5px;
}
.item-call {
    font-weight: bold;
    align-content: center;
}
.call-button {
    padding: 10px 0;
}
.item-snags {
    font-size: 0.8em;
    text-align: right;
    padding-top: 10px;
}

/* Footer */

footer {}
.contact-list {
    text-align: left;
    padding-top: 20px;
}
.text-muted {
    text-align: right;
    padding-top: 20px;
}
